# Ignore macOS system files
.DS_Store

# Ignore Word temporary files
~$*.docx

# Ignore R history files
.Rhistory

# Ignore temporary project files not required for reproducibility
working_files/




